name: PR pipeline
on:
  pull_request:
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - "Makefile"
      - "images/**"
      - "config/**"
      - ".github/workflows/pull-request-workflow.yaml"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "~1.25"

      - name: Run tests
        run: make test

  e2e:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Build images
        run: |
          docker build -t wireguard-operator/manager:test -f images/manager/Dockerfile .
          docker build -t wireguard-operator/agent:test -f images/agent/Dockerfile .

      - uses: actions/setup-go@v6
        with:
          go-version: "~1.25"

      - uses: azure/setup-kubectl@v4

      - name: Run e2e tests
        run: |
          make kind
          make run-e2e AGENT_IMAGE=wireguard-operator/agent:test MANAGER_IMAGE=wireguard-operator/manager:test
